*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.nav-bar{
    width: 22%;
    background-color: #F5F6F7;
}

.nav-bar .first-part{
    background-color: #EFF1F2;
    width: 100%;
    height: 80px;
    position: relative;
}

.nav-bar .first-part .input{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}

.nav-bar .first-part .input input{
    border: none;
    width: 94%;
    outline: none;
    color: #7F889A;
    font-size: 16px;
}

.nav-bar .first-part .input i{
    font-size: 18px;
    color: #D5D8DB;
}

.nav-bar .second-part{
    margin-top: 40px;
}

.nav-bar .second-part .menu{
    margin-left: 22px;
}

.nav-bar .second-part .menu h3{
    width: 60px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid #F56A6A;
}

.nav-bar .second-part .menu ul{
    margin-top: 35px;
}

.nav-bar .second-part .menu ul li{
    list-style-type: none;
    width: 90%;
    font-size: 13px;
    position: relative;
    padding: 15px 0px;
    border-bottom: 1px solid #DADFE1;
}

.nav-bar .second-part .menu ul li i{
    position: absolute;
    right: 2px;
}

.nav-bar .third-part{
    margin-top: 25px;
    margin-left: 25px;
}

.nav-bar .third-part h3{
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid #F56A6A;
} 

.nav-bar .third-part .article{
    margin-top: 20px;
}

.nav-bar .third-part .article img{
    width:92%;
    border-radius: 10px;
    height: 180px;
}

.nav-bar .third-part .article p{
    font-size: 14px;
}